<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Cieusche Dainchaep Magagehn Sistem
        {% endblock %}</title>
    <!-- Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
</head>
<body>

<!-- 导航栏 -->
<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Cieusche Dainchaep</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if session.get('user_id') %}
            <li><a href="{{ url_for('signout') }}">登出</a></li>
            {% else %}
            <li><a href="{{ url_for('signin') }}">登录</a></li>
            <li><a href="{{ url_for('signup') }}">注册</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<!-- 主内容 -->
<div class="container">
    {% block content %}

    {% endblock %}
</div>

<!-- Materialize JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
